:root {
  --White: hsl(0, 0%, 100%);
  --Cream-bg: hsl(28, 38%, 92%);
  --Aurometal-saurus: hsl(228, 12%, 48%);
  --Deep-Aquamarine: hsl(157, 36%, 37%);
  --Deep-Aquamarine-hover: hsl(157, 43%, 18%);
  --Gunmetal: hsl(212, 21%, 14%);

  --ff-montserrat: "Montserrat", serif;
  --ff-fraunces: "Fraunces", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

h1,
h2.h3 {
  line-height: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: subpixel-antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-medium);
  color: var(--Aurometal-saurus);
  font-size: 1.6rem;
  background-color: var(--Cream-bg);

  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
}

.flex-group {
  display: flex;
  gap: 1.9rem;
  flex-wrap: wrap;
  align-items: center;
}

img {
  display: block;
  width: 100%;
}

/* product styles */
.product {
  background-color: var(--White);
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  max-width: 600px;
}
@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
}

.product__content {
  padding: 3.2rem;
  display: grid;
  gap: 1rem;
}
@media (max-width: 768px) {
  .product__content {
    padding: 2.4rem;
  }
}

.product__category {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  letter-spacing: 5px;
}

.product__title {
  font-size: 3.2rem;
  font-family: var(--ff-fraunces);
  color: var(--Gunmetal);
}

.product__desc {
  font-size: 1.4rem;
}

.product__current-price {
  font-size: 3.2rem;
  font-family: var(--ff-fraunces);
  color: var(--Deep-Aquamarine);
}

.product__original-price {
  font-size: 1.3rem;
  text-decoration: line-through;
  color: var(--Aurometal-saurus);
}

.button {
  cursor: pointer;
  border: 0;
  text-decoration: none;
  background-color: var(--Deep-Aquamarine);
  height: 48px;
  font-size: 1.4rem;
  border-radius: 8px;
  color: var(--White);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--Deep-Aquamarine-hover);
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url("./images/icon-cart.svg");
  width: 16px;
  height: 16px;
}
